<div id="interface" class="container">
    <div class="col align-self-center">
        <div align="center" class="jumbotron">
            <h1 class="display-3" id="Title">woof</h1>
            <img src="https://lh5.googleusercontent.com/YPMauzYt-PyprJmCsWHcM-HHCH2XjJmBEnl4EbVLokUgXweoAlxpasQgagw8-3oCA66bs0vAHx3She4=w3840-h2160" height="100px">
            <hr class="my-4">
            <p id="tagline">Find the perfect match for your pup</p>
            <div class="container">
                <a href="/type" class="btn btn-warning" id="menu">Sign Up</a>
                <a href="" class="btn btn-warning" id="menu">Login</a>
            </div>
        </div>
    </div>
</div>
