<div class="container" id = "woofInterface">
    <div class="col align-self-center">
        <div align="center" margin-top="0" class="jumbotron">
            <h1 class="display-4" id="Title">woof</h1>
            <div class = "woofCard">
                <img align = "center" src="placeholder.jpg" alt="Picture">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <h6>{{}}, Age</h6>
                        </div>
                        <div class="col-sm">
                            <h6>M/F</h6>
                        </div>
                    </div>
                </div>
                <hr>
                <button id = "choice" type="button" class="btn btn-danger" href="#">No</button>
                <button id = "choice" type="button" class="btn btn-success" href="#">Yes</button>
            </div>
        </div>
    </div>
</div>