<div class="container">
    <div class="col align-self-center">
        <div align="center" class="jumbotron">
            <h1 class="display-3" id="Title">woof</h1>
            <hr class="my-4">
            <form>
                <div class="form-group" align = "left">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" placeholder="Enter Pet's Name">
                </div>
                <div class="form-group" align = "left">
                    <label for="age">Age</label>
                    <input class="form-control" id="age" placeholder="Enter Pet's Age">
                </div>
                <div class="form-group" align = "left">
                    <label for="sex">Sex</label>
                    <select class="form-control" id="sex" placeholder="Choose Pet's Sex">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group" align = "left">
                    <label for="description">Description</label>
                    <input class="form-control" id="description" placeholder="Breed, color, weight, distinguishing marks, etc.">
                </div>
                <div align="left" class="form-group">
                    <label for="forms">Latest Medical Records</label>
                    <input type="file" class="form-control-file" id="forms">
                    <small id="fileHelp" class="form-text text-muted">Upload a PDF of your pet's latest medical records.</small>
                </div>
                <div align="right">
                    <button id="menu" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>