<div id="interface" class="container">
	        <div class="col align-self-center">
    	        <div align="center" class="jumbotron">
                    <h1 class="display-3" id="Title">woof</h1>
                    <hr class="my-4">
                    <form>
                        <div class="form-group" align = "left">
                        <label for="email">E-Mail:</label>
                        <input id="email" name= "email"class="form-control">
                        </div>
                        <div class="form-group" align = "left">
                        <label for="username">Username:</label>
                        <input id="username" name= "username"class="form-control">
                        </div>
                        <div class="form-group" align = "left">
                        <label for="password">Password:</label>
                        <input id="password" name= "password"type = "password" class="form-control">
                        </div>
                        <div align="right">
                        <button id="menu" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>